set / tunnel-interface {{ options.get('vxlan') }} vxlan-interface {{ options.get('vxlan_int') }} type bridged{{ '\n' }}
set / tunnel-interface {{ options.get('vxlan') }} vxlan-interface {{ options.get('vxlan_int') }} ingress vni {{ options.get('evi') }}{{ '\n' }}

set / network-instance {{ options.get('vrf') }} type mac-vrf{{ '\n' }}
set / network-instance {{ options.get('vrf') }} admin-state enable{{ '\n' }}
set / network-instance {{ options.get('vrf') }} vxlan-interface {{ options.get('vxlan_interface') }}{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-evpn bgp-instance {{ options.get('bgp_instance') }} admin-state enable{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-evpn bgp-instance {{ options.get('bgp_instance') }} vxlan-interface {{ options.get('vxlan_interface') }}{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-evpn bgp-instance {{ options.get('bgp_instance') }} evi {{ options.get('evi') }}{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-evpn bgp-instance {{ options.get('bgp_instance') }} ecmp {{ options.get('ecmp') }}{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-vpn bgp-instance {{ options.get('bgp_instance') }} route-target export-rt {{ options.get('export_rt') }}{{ '\n' }}
set / network-instance {{ options.get('vrf') }} protocols bgp-vpn bgp-instance {{ options.get('bgp_instance') }} route-target import-rt {{ options.get('import_rt') }}{{ '\n' }}
